body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sliders {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 8px;
}

/* ラベルの幅を固定にして、全体を揃える */
.sliders label {
    display: inline-block;
    width: 80px;
    /* 必要に応じて調整 */
    font-weight: bold;
}

/* スライダーを伸ばして均等に並べる */
.sliders input[type="range"] {
    flex: 1;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    margin: 5px;
}

.fancy-button {
    padding: 0.5em 0.5em;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 160px;
    margin: 5px 0px;
}

.fancy-button-small {
    padding: 0.5em 0.5em;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 60px;
}

.fancy-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.fancy-button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-blue {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.btn-blue:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
}

.btn-green {
    background: linear-gradient(135deg, #38ef7d, #11998e);
}

.btn-green:hover {
    background: linear-gradient(135deg, #11998e, #38ef7d);
}

.btn-red {
    background: linear-gradient(135deg, #f85032, #e73827);
}

.btn-red:hover {
    background: linear-gradient(135deg, #e73827, #f85032);
}

.btn-yellow {
    background: linear-gradient(135deg, #fddb3a, #f8b500);
}

.btn-yellow:hover {
    background: linear-gradient(135deg, #f8b500, #fddb3a);
}

.btn-gray {
    background: linear-gradient(135deg, #71777b, #2c3e50);
}

.btn-gray:hover {
    background: linear-gradient(135deg, #2c3e50, #606364);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: default;
}

.button-group {
  display: flex;
  gap: 5px; /* ボタン間の余白 */
}

.drag-handle {
    cursor: grab;
    padding: 8px 12px;        /* タッチ範囲 */
    margin-right: 10px;
    user-select: none;
}

/* 画面幅が 400px 以下の場合は縦並び */
@media (max-width: 400px) {
    .button-group {
        flex-direction: column;
        gap: 8px;
        align-items: flex-end; /* ボタンを右寄せに保つなら */
    }
}